################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Java
/Net/Tutorial/MvcMovies/bin/Debug/netcoreapp2.2
/Net/Tutorial/MvcMovies/.vs/MvcMovies
