<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <client>
      <endpoint name="ServiceConfiguracionEP" 
                address="net.tcp://localhost/ConfigurationService/ConfigurationSvc.svc"
                binding="netTcpBinding"
                contract="WcfConfiguration.IConfigurationSvc"/>
      <endpoint name="ServicePaymentEP"
                address="net.tcp://localhost/PaymentService/PaymentSvc.svc"
                binding="netTcpBinding"
                contract="WcfPayment.IPaymentSvc"/>
    </client>
  </system.serviceModel>
</configuration>